<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>{% block title %}Bootstrap, from Twitter!{% endblock %}</title>
        {% block stylesheets %}
		<!-- Le styles -->
    <link href="{{ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('bootstrap/css/style.css') }}" rel="stylesheet">
     <script type="text/javascript" src="{{ asset('bootstrap/js/jquery.js') }}"></script>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
		{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<link href="{{ asset('Bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/ico/favicon.png">
  <script src="{{ asset('Bootstrap/js/mzroute.js') }}" async="" type="text/javascript"></script><script src="{{ asset('Bootstrap/js/_wildcard.js') }}" async="" type="text/javascript"></script>
    </head>
    <body>
   

         
              
   
	 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Art de l'informatique</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    Connecté en tant que {{ app.user.username }} - <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
{% else %}
    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
{% endif %}
            </p>
            <ul class="nav">
              <li class="active"><a href="{{ path('domain') }}">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
	    </ul>
		<form class="navbar-search pull-left">
				<input type="text" class="search-query" placeholder="Search">
        </form>
                           
        
                        
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Les differents domaines</li>
              
                  <li class="dropdown-submenu">
                    <a href="#">Auto Moto</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="#">Voiture</a>
                            <ul class="dropdown-menu">
                               <li><a href="#">Renault</a></li>
                             </ul>
                     
                        </li>
                     
                    </ul>
                   
                </li>
               
              <li class="dropdown-submenu">
                    <a href="#">Immobilier</a>
                    <ul class="dropdown-menu">
                    <li><a href="#">Villa</a></li>
                    <li><a href="#">Apportement</a></li>
                    <li><a href="#">Commerciale</a></li>
                    </ul>
              </li>
              <li><a href="#">Informatique</a></li>
              <li class="dropdown-submenu">
                    <a href="#">Telephonie</a>
                    <ul class="dropdown-menu">
                    <li><a href="#">Smar Phone</a></li>
                    <li><a href="#">Samsung</a></li>
                    <li><a href="#">Nokia</a></li>
                    <li><a href="#">LG</a></li>
                    </ul>
              </li>
              <li class="dropdown-submenu">
                    <a href="#">Electromenager</a>
                    <ul class="dropdown-menu">
                    <li><a href="#">Refregirateur</a></li>
                    <li><a href="#">Machine a Laver</a></li>
                    <li><a href="#">Four Gar Haute</a></li>
                    <li><a href="#">TV</a></li>
                    </ul>
              </li>
              <li><a href="#">Emploi</a></li>
              <li><a href="#">Animaux</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Bonnes Affaires</a></li>
              <li class="nav-header">Web business Intelligence</li>
              <li><a href="#">Communauté de Wbi</a></li>
              <li class="nav-header">Contact</li>
              <li><a href="#">Contactez nous</a></li>
              <li class="divider">about</li>
              <li><a href="#">Info</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      

        
         
            
         
	
            			{% block body %}{% endblock %}
          
    

  </div>	     
</div>
      <footer>
        <p>© Company 2013</p>
      </footer>

    </div><!--/.fluid-container-->
        
        {% block javascripts %}
		<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ asset('bootstrap/js/jquery.js') }}"></script>
    <script src="{{ asset('Bootstrap/js/bootstrap-transition.js') }}"></script>
    <script src="{{ asset('Bootstrap/js/bootstrap-alert.js') }}"></script>
    <script src="{{ asset('Bootstrap/js/bootstrap-modal.js') }}"></script>
    <script src="{{ asset('Bootstrap/js/bootstrap-dropdown.js') }}"></script>
    <script src="{{ asset('Bootstrap/js/bootstrap-scrollspy.js') }}"></script>
    <script src="{{ asset('Bootstrap/js/bootstrap-tab.js') }}"></script>
    <script src="{{ asset('Bootstrap/js/bootstrap-tooltip.js') }}"></script>
    <script src="{{ asset('Bootstrap/js/bootstrap-popover.js') }}"></script>
    <script src="{{ asset('Bootstrap/js/bootstrap-button.js') }}"></script>
    <script src="{{ asset('Bootstrap/js/bootstrap-collapse.js') }}"></script>
    <script src="{{ asset('Bootstrap/js/bootstrap-carousel.js') }}"></script>
    <script src="{{ asset('Bootstrap/js/bootstrap-typeahead.js') }}"></script>
   
		{% endblock %}
 
    </body>
<iframe src="{{ asset('Bootstrap/js/analytics.htm') }}" style="border: 0px none; position: absolute; top: -100px; left: -100px;" height="1" width="1"></iframe>

</html>
